<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463746538605-mk1vb0sqhoist7i0lvmvo5vmp8f7qf3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463746538605-mk1vb0sqhoist7i0lvmvo5vmp8f7qf3d</string>
	<key>API_KEY</key>
	<string>AIzaSyCZjxML7zdcIFBhH8D3PFRnnlf5DURZxrU</string>
	<key>GCM_SENDER_ID</key>
	<string>463746538605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.bt.bemagine</string>
	<key>PROJECT_ID</key>
	<string>bemagine-1c194</string>
	<key>STORAGE_BUCKET</key>
	<string>bemagine-1c194.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463746538605:ios:4d04ce810efd25e3f0f364</string>
	<key>DATABASE_URL</key>
	<string>https://bemagine-1c194.firebaseio.com</string>
</dict>
</plist>